#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-section {
  position: absolute;
  top: 0;
  padding: 50px;
  left: 0;
  right: 0;
}

.search-bar {
  width: 60%;
}

.submit-button {
  width: 80px;
}

.search-bar,
.submit-button {
  height: 34px;
  margin: 0 15px;
  border-radius: 17px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.search-bar:hover,
.submit-button:hover {
  border-color: #646cff;
}

.search-bar:focus,
.search-bar:focus-visible,
.submit-button:focus,
.submit-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
